.div_1{
    background-color: red;
    border: 2px solid green;
    margin-top: 100px;
    height: 50px;
    width: 50px;
}

.div_2{
    background-color: black;
    height: 50vh;
    width: 50%;
    border: 10px dashed red;
    margin: 100px;
}
