.body_1{
    background-color: #d3d3d3;
}

.div_1{
    background-color: white;
    height: 500px;
    width: 50vw;
    border: 10px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.div_1filha{
    background-color: yellow;
    height: 50px;
    width: 30%;
}
.div_2{
    background-color: rgb(228, 109, 13);
    height: 100px;
    width: 30%;
}
.div_1filha2{
background-color: rgb(20, 187, 20);
color: white;
font-size: 30px;
padding-right: 50px;
padding-left: 50px;
padding-top: 50px;
padding-bottom: 50px;
margin-top: 50px;
margin-left: 50px;

}
    